# Django framework for building the web app
Django>=5.2.7

# For generating PDF certificates
pdfkit==1.0.0
xhtml2pdf>=0.2.5

# For handling images (used in certificate generation)
pillow>=11.3.0

# To limit API requests (used in quiz or certificate endpoints)
ratelimit>=2.2.1

# For making HTTP requests (used in external API calls)
requests>=2.32.5

# Required by Django for database parsing
sqlparse>=0.5.3
